{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>海产页</title>
    <link rel="stylesheet" href="{% static 'css/foodpage.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <h1>晴海导航 <small>精准检索，放心食用每一口海产</small></h1>
                </div>
                <div class="container" style="padding: 0px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <ul class="nav nav-pills" style="margin-bottom: 15px;">
                                <li role="presentation"><a href="/home/homepage"><b>主&nbsp;&nbsp;&nbsp;&nbsp;页</b></a>
                                </li>
                                <li role="presentation" class="active"><a href="/seafood/foodpage"><b>海&nbsp;&nbsp;&nbsp;&nbsp;产</b></a></li>
                                <li role="presentation"><a href="/aihelper/helperpage"><b>智&nbsp;能&nbsp;助&nbsp;手</b></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div class="dropdown" style="text-align: right;margin-right: 20px;">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="border: 0px;">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"
                                        style="font-size: 20px;"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    {% if identity %}
                                    <li><a href="/user/logout">退出登录</a></li>
                                    {% else %}
                                    <li><a href="/user/login">登录</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <b>产品详情</b>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">产品ID: {{ product.product_id }}</h5>
                                    <h5 class="card-title">产品类型: {{ product.class_name }}</h5>
                                    <p class="card-text">质量（kg）： {{ product.quantity }}</p>
                                    <p class="card-text">纬度: {{ product.lat }}</p>
                                    <p class="card-text">经度: {{ product.lng }}</p>
                                    <p class="card-text">生产时间: {{ product.production_time }}</p>
                                    <p class="card-text">过期时间: {{ product.expiration_time }}</p>
                                    {% if product.state %}
                                        <p class="card-text">状态: 已售出</p>
                                    {% else %}
                                        <p class="card-text">状态: 未售出</p>
                                    {% endif %}
                                    <a href="/seafood/foodpage" class="btn btn-primary">返回列表</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{ radiation|json_script:"radiation" }}
                            <div class="panel-body">
                                <div>
                                    <canvas id="myChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="container-fluid" style="padding-top: 40px; padding-left: 0px;padding-right: 0px;">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="jumbotron">
                                <div class="container">
                                    <center>
                                        <p>Copyright© 2024 All Rights Reserved. </p>
                                        <p>同济大学--电子与信息工程学院计算机系</p>
                                        地址：同济大学嘉定校区，上海市嘉定区曹安公路4800号&nbsp;&nbsp;&nbsp; 邮编：201802&nbsp;&nbsp;&nbsp;
                                        电话:13699406180
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script>
        const ctx2 = document.getElementById('myChart2');
        var myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9', 'day10'],
                    datasets: [{
                        label: '# 产地辐射程度',
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        borderWidth: 1,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)', // 线条颜色
                        tension: 0.1 // 线条平滑度
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        var radiation_data = JSON.parse(document.getElementById('radiation').textContent);
        radiation_data.forEach(function(item, index) {
            myChart2.data.datasets[0].data[index] = radiation_data[index].count;
            myChart2.update();
        });
    </script>
</body>

</html>